section {
    background-color: black;
}
.footer-container {
    display:flex;
    flex-direction: row;
    color: aliceblue;
    margin:0;
    min-height: 20vh;
}

.logo-row {
    display:block;
    text-align: center;
    height: 2%;
    padding-top: 2vh;
  
}

.logo-footer {
    height: 3rem !important;
    width: auto;
}


.pages-row {
height: 6rem;
font-size: 1.3rem;
color: aliceblue;
width: auto;
display: flex;
flex-direction: row;
}

a {
color:aliceblue;
}

.links-row {
    height:  6rem;
    width: auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 3vh;
    }

.social-footer {
    height: 2rem !important;
    width: auto;
}